.cardWrapper {
  margin-bottom: 24px;
}

.cardMeta {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  color: #8c8c8c;
  font-size: 12px;
}

.cardButton {
  width: 100%;
  border-radius: 20px;
}
